.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
.venv
.astro
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
keys
dbt/france_air_pollution/target/*
!dbt/france_air_pollution/target/.gitkeep

**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*